#AddMenu .addmenu-box {
  background: #ffffff;
  padding: 10px;
}
/*#AddMenu .addmenu-box .hint {*/
  /*color: #da4224;*/
  /*background: #f4ffc1;*/
/*}*/
#AddMenu .addmenu-box .hint p {
  padding: 10px;
  line-height: 20px;
}
#AddMenu .addmenu-box .hint p i {
  font-size: 20px;
}
/*#AddMenu .addmenu-box .operation-item {*/
  /*margin: 20px 0 0 10px;*/
/*}*/
#AddMenu .addmenu-box .operation-item p {
  padding-bottom: 10px;
}
#AddMenu .addmenu-box .operation-item .select2 {
  width: 200px !important;
}
#AddMenu .addmenu-box .operation-item .menu-name-input {
  width: 200px;
  padding: 5px;
}
#AddMenu .addmenu-box .operation-item #myTabContents #instationInfo .controls {
  padding-bottom: 15px;
}
#AddMenu .addmenu-box .operation-item #myTabContents #instationInfo .controls .check-item {
  color: #676a6c;
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
}
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationInfo .instation-content input {*/
  /*width: 200px;*/
  /*padding: 5px;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial {*/
  /*!*display: none;*!*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial .controls .check-item {*/
  /*color: #676a6c;*/
  /*display: inline-block;*/
  /*margin-right: 10px;*/
  /*font-size: 14px;*/
  /*cursor: pointer;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent {*/
  /*padding-top: 20px;*/
  /*position: relative;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select {*/
  /*border: 1px dashed #ddd;*/
  /*width: 308px;*/
  /*height: auto;*/
  /*background: #eee;*/
  /*text-align: center;*/
  /*color: #333;*/
  /*cursor: pointer;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .select-title {*/
  /*height: 200px;*/
  /*line-height: 200px;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .info-box {*/
  /*padding: 15px;*/
  /*display: none;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .info-box img {*/
  /*width: 100%;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .info-box .img-text,*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .info-box .video-box {*/
  /*text-align: left;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .info-box .voice-box {*/
  /*display: flex;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .info-box .voice-box img {*/
  /*width: 100%;*/
  /*height: auto;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .info-box .voice-box .name {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*margin: 0 15px;*/
  /*text-align: left;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .info-box .voice-box .name p {*/
  /*margin: 0;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .select-title {*/
  /*height: 200px;*/
  /*line-height: 200px;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .select .delete {*/
  /*display: none;*/
  /*position: absolute;*/
  /*top: 20px;*/
  /*left: 285px;*/
  /*font-size: 20px;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #instationMaterial #myTabContent .btn {*/
  /*margin-top: 20px;*/
  /*display: inline-block;*/
  /*padding: 12px 50px;*/
  /*font-size: 14px;*/
  /*line-height: 20px;*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*cursor: pointer;*/
  /*background: #44b549;*/
  /*border: none;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #custom {*/
  /*display: none;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #custom .controls {*/
  /*padding-bottom: 15px;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #custom .controls .check-item {*/
  /*color: #676a6c;*/
  /*display: inline-block;*/
  /*margin-right: 10px;*/
  /*font-size: 14px;*/
  /*cursor: pointer;*/
/*}*/
/*#AddMenu .addmenu-box .operation-item #myTabContents #custom .tab-content .hinge {*/
  /*width: 200px;*/
  /*padding: 5px;*/
/*}*/
#AddMenu .addmenu-box .no {
  padding: 20px 10px;
}
#AddMenu .addmenu-box .no .number {
  width: 200px;
  padding: 5px;
}
#AddMenu .addmenu-box .submit {
  text-align: center;
  border-top: 1px solid #dddddd;
  padding: 20px;
  margin-top: 40px;
}
#AddMenu .addmenu-box .submit button {
  padding: 10px 20px;
}
.modal .modal-header {
  background: #eeeeee;
  color: #333333;
  font-size: 14px;
}
.modal .modal-body {
  padding: 0;
}
.modal .modal-body .no-material {
  padding: 100px;
  text-align: center;
  display: none;
}
.modal .modal-body .have-material {
  padding: 10px;
}
.modal .modal-body .have-material .seek {
  float: right;
  width: 200px;
  margin-right: 15px;
}
.modal .modal-body .have-material .material-table {
  margin-top: 60px;
}
.modal .modal-body .have-material .material-table .table th {
  background: none;
  border-bottom: none;
}
.modal .modal-body .have-material .material-table .table th:first-child {
  width: 35px;
}
.modal .modal-body .have-material .material-table .table th:nth-child(2) {
  width: 45px;
  text-align: center;
}
.modal .modal-body .have-material .material-table .table .no {
  text-align: center;
}
.modal .modal-body .have-material.img-list .col-lg-4 {
  padding: 10px;
}
.modal .modal-body .have-material.img-list .col-lg-4 img {
  display: block;
  width: 100%;
  height: 240px;
}
.modal .modal-body .have-material.img-list .img-box {
  border: 1px solid #dddddd;
  position: relative;
}
.modal .modal-body .have-material.img-list .img-box:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  text-align: center;
  padding-top: 100px;
  display: none;
}
.modal .modal-body .have-material.img-list .img-box:hover:after {
  display: block;
  cursor: pointer;
}
.modal .modal-body .have-material.img-list .img-box.img-bg:after {
  display: block;
  cursor: pointer;
  background: rgba(51, 204, 204, 0.4);
}
.modal .modal-body .have-material.img-list .img-box .img-text,
.modal .modal-body .have-material.img-list .img-box .video-box {
  padding: 5px 0;
  text-align: left;
}
.modal .modal-body .have-material.img-list .img-box .img-text .title,
.modal .modal-body .have-material.img-list .img-box .video-box .title {
  font-weight: bold;
  font-size: 20px;
}
.modal .modal-body .have-material.img-list .img-box .voice-box {
  display: flex;
  padding: 20px;
}
.modal .modal-body .have-material.img-list .img-box .voice-box img {
  width: 100%;
  height: auto;
}
.modal .modal-body .have-material.img-list .img-box .voice-box .name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15px;
}
.modal .modal-body .have-material.img-list .img-box .voice-box .name p {
  margin: 0;
}
.select2-container .select2-dropdown {
  position: relative;
  z-index: 1990;
}
